services:
  - type: web
    name: fueleu-maritime
    runtime: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install --include=dev && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: SESSION_SECRET
        sync: false
